body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(../img/index_inicio.jpg);
    color: white;
}

a{
    text-decoration: none;
    color: aqua;
}

header{
    display: flex;
    height: 70;
    background: linear-gradient(rgb(2, 2, 52), rgba(16, 2, 40, 0.777));
    justify-content: space-between;
    align-items: center;
    padding: 10;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 90; height: 90;
    margin: 5px;
}

nav a{
    font-weight: 600;
    padding-right: 10;
}

nav a:hover{
    color: rgba(128, 80, 190, 0.869);
}

form{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid color(srgb 68 68 68);
    border-radius: 5px;
    width: 35%;
    background-color: rgba(39, 41, 71, 0.465);
}

input{
    margin-bottom: 8px;
    outline: none;
    padding: 8px;
    background-color: rgba(43, 46, 83, 0.658);
    border: 2px solid rgba(255, 255, 255, 0.686);
    color: white;
    font-size: 16px;
}

.sent{
    background-color: rgba(48, 20, 57, 0.915);
    border: 2px solid white;
    cursor: pointer;
}

.sent:hover{
    background-color: rgba(110, 15, 59, 0.463);
    border: 5px solid rgb(233, 135, 181);
}

.warning{
    margin: auto;
    text-align: center;
    width: 2000px;
    padding-top: 20px;
    color: crimson;
}

#brick {
    width: 40px;
    height: 20px;
    background: #26095c;
    position: relative;
    cursor: pointer;
  }
  
  #path {
    outline: 3px solid #9254c8;
    width: 540px;
    height: 20px;
  }